.App {
  text-align: center;
}

.App-header {
  padding-top: 15vh;
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SortDisplay {
  margin: 6px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.description {
  margin: 12px 20%;
  text-align: left;
  font-size: x-large;
}